<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css">
    <script src="https://unpkg.com/jspdf@latest/dist/jspdf.umd.min.js"></script>
  
    <style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width:fit-content;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}


</style>
</head>
<body>
<center>
  <% let date = new Date() %>
  <% date = "0" +date.getMonth()+"-"+date.getFullYear()  %>
  <input type="hidden" id="batch" value="<%=data[0].batch %>">
    <h5>Frequent Absentees </h5>
 
   
     
        <table id="printTable">
           <tr>
            <th>Name</th>
            <th>Batch</th>
            <th>Phone</th>
            <th>Domain</th>
           </tr>
           <% data.forEach(element => { %>
           <tr>
            <td><%=element.name %></td>
            <td><%=element.batch %></td>
            <td><%=element.phone %></td>
            <td><%=element.domain %></td>
           </tr>
           <% }) %>
        </table>

        <button id="printButton" onclick="print()">Download as pdf</button>
        <button onclick="ExportToExcel('xlsx')">Download as excel file</button>



 



</center>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js "></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
<script type="text/javascript" src="https://unpkg.com/xlsx@0.15.1/dist/xlsx.full.min.js"></script>

<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
<script>
  $(document).ready(function () {
    $('#printTable').DataTable();
  });
</script>



<script>

let x = new Date()
x =  "-0" + x.getMonth() +"-"+ x.getFullYear()
let batch = document.getElementById('batch').value


window.jsPDF = window.jspdf.jsPDF;
var docPDF = new jsPDF();
function print(){
var elementHTML = document.querySelector("#printTable");
docPDF.html(elementHTML, {
 callback: function(docPDF) {
  docPDF.save( `Frequent Absentees of ${x} - all batches.pdf`);
 },
 x: 15,
 y: 15,
 width: 170,
 windowWidth: 650
});
}
</script>


<script>
    function ExportToExcel(type, fn, dl) {
       var elt = document.getElementById('printTable');
       var wb = XLSX.utils.table_to_book(elt, { sheet: "sheet1" });
       return dl ?
         XLSX.write(wb, { bookType: type, bookSST: true, type: 'base64' }):
         XLSX.writeFile(wb, fn || (`Frequent Absentees of ${x} - all batches.pdf` + (type || 'xlsx')));
    }
</script>


</body>
</html>

